body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

iframe {
    border: 1px solid #ccc;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.fullscreen-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fullscreen-button:hover {
    background-color: #0056b3;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}